*.wav
*.mp3
*.json
*.flac
*.ipynb_checkpoints
__pycache__/
dataset-partial/
vae-*/
untested-*/
*-untested-*/
new-dataset/
*.csv
*-dataset/
EDANSA-2019/
*.pt
model.onnx
model.pb/
model.tflite
zzz-filter-test-results/
